extends layout

block content
  h1= title
  p Welcome to #{title}
  
  
    #banner.page-header
        .row
            .col-lg-6
             h1 Homepage
                
        .row
            .col-lg-6
            p Welcome op de homepagina van VrouwenWillenSchoenen
                .col-lg-6
                img(src='http://localhost:9876/images/schoenen.jpg')